{% extends "layout.html" %}

{% block content %}
<h1>Informationsarkitekt </h1>

<h2>Sammanfattning</h2>
<p>
    Vi lever idag i ett informationsintensivt samhälle. Som informationsarkitekt blir din uppgift att bringa 
    ordning i myllret av informationsflöden. På utbildningen lär du dig att analysera, organisera och integrera 
    information och informationsflöden. Ämnen som ingår är bland annat informationsteknik, webbdesign, 
    webbkonstruktion, informationsdesign, programmering, kvalitet, kognitionsvetenskap, människa–datorinteraktion, 
    projektledning, informationssäkerhet samt mycket mer. Undervisningen bygger i första hand på ett projektdrivet 
    lärande, vilket innebär att projektarbeten genomsyrar hela utbildningen. Projekten genomförs i samverkan med 
    näringslivet, vilket inte bara gör att utbildningen ständigt är aktuell och uppdaterad, utan också ger dig 
    möjlighet att redan under studietiden knyta kontakter med arbetsmarknaden. Studieformen är planerad för att 
    ge dig möjlighet att växa i förmågan att arbeta såväl i grupp som självständigt.
</p>




{% endblock content %}