{% extends "layout.html" %}

{% block content %}

    <h2>Kontakt</h2>
    <div class="block-contact_details">
        <div class="details_one">
            <p>Utbildningen ges av Fakulteten för teknik och samhälle på Institutionen för Datavetenskap och medieteknik.</p>
            <h3>MER INFORMATION OM UTBILDNINGEN</h3>
            <p>Studentservice TS - Malmö Universitet</p>
            <a href="mailto:webmaster@example.com" id="contact">E-post: TSstudent@mau.se</a>
        </div>
        <div class="details_two">
            <p>Anton Tibblin, programansvarig<br>Telefon: 040-6657672</p>
            <a href="mailto:webmaster@example.com">E-post: anton.tibblin@mau.se</a>
        </div>
    </div>

{% endblock content %}