{% extends "layout.html" %}

{% block content %}

<h2>Om oss</h2>
<p>
    Syftet med sidan är att skapa en plattform för elever som studerar programmet Informationsarkitekt på Malmö
    Universitet.
    I framtiden kommer sidan möjligtvis anpassas till flera andra program och universitet. I nuläget används
    Canvas för att dela information mellan lärare och elever men då flera elever och lärare inte verkar nöjda med sidan
    så
    hoppas vi kunna leverera en tydligare och mer användbar hemsida.
</p>
<h3>Övrigt om sidan</h3>
<p>
    Vi strävar efter ett förenklat sätt att nå lärare, kursansvarig och eventuella gruppledare genom länkar
    till dessa personers email-adresser. Detta får du tillgång till genom att skapa ett inlogg som är unikt för
    de individuella studenterna.
    Syftet med en inloggning är för att förenkla användningen av sidan ytterliggare då chatt-funktioner och
    evenutella inlägg på forumet
    blir lättare att interagera med.
</p>

{% endblock content %}