{% extends "layout.html" %}

{% block content %}
<div>
    <h1>#USERNAME_TODO#</h1>
    <i class="fa fa-user-circle" id="user_picture"></i>
</div>

<div class="details">
    <h2>Dina Kurser</h2>
    <p>Webbutveckling (DA106A): VG <br>Kursansvarig: <a href="mailto:anton.tibblin@mau.se">Anton Tibblin</a></p>
    <p>Datavetenskap (DA154A): G <br>Kursansvarig: <a href="mailto:sven.karlsson@mau.se">Sven Karlsson</a></p>
    <p>Interaktionsdesign (DA100A): U <br>Kursansvarig: Dipak Surie</p>
</div>
<div class="details">
    <h2>Kursare/Klasskamrater</h2>
    <p>Arne Weise<a href="mailto:#"> Skicka meddelande</a></p>
    <p>Carl-Göran Svensson<a href="mailto:#"> Skicka meddelande</a></p>
</div>

{% endblock content %}