
{% extends "layout.html" %}




{% block head %} 
    <!-- CSS -->
    <link href="{{ url_for('static', filename = 'css/schema.css') }}" type="text/css" rel="stylesheet">
    <!-- Javscript -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/schema.js') }}"></script>
    
    
{% endblock head %}

{% block content %}
    
    
    <h2 id="schema">SCHEMA</h2>
    <div id="calendar"></div>
    
        
{% block content %}
    
    <h2 id="schema">SCHEMA</h2>
    <div id="calendar"></div>
    <script type="text/javascript" src="{{ url_for('static', filename = 'schema.js') }}"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>

{% endblock content %}
        