<!doctype html>
<html lang="sv">
<head>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <link href="static/css/schema.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Bibliotek till logga -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset = "utf-8">
    <title>Integrum</title>
    <link href="css/style.css" type="text/css" rel="stylesheet">
</head>

<div id="wrapper">
        
    <header>
        
    
    </header>

    <nav>
        <a href="index.html"><i class="fa fa-home"></i></a>
        <a href="schema.html">Schema</a>
        <a href="kontakt.html">Kontakt</a>
        <a href="om_oss.html">Om oss</a>
        <a href="faq.html">FAQ</a>
        <a href="register.html"><i class="fa fa-sign-in" id="log_in"></i>Logga in / Registrera</a>
    
        
            

    </nav>

    <main>
        <h2 id="schema">SCHEMA</h2>
        <div id="calendar"></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        <script src="schema.js"></script>
    </main>

    <footer>
        <p>Integrum - Copyright 2020</p>
    </footer>

</div>

</html>
