{% extends "layout.html"%}

{% block head %} 
    <!-- CSS -->
    <link href="static/css/calendar.css" type="text/css" rel="stylesheet">
    
    
{% endblock head %}


{% block content %}

<div class="calendar-body">

    <div class="calendar">
        <div class="date">
            <div class="day">Mån</div>
            <div class="day">Tis</div>
            <div class="day">Ons</div>
            <div class="day">Tors</div>
            <div class="day">Fre</div>
            <div class="day">Lör</div>
            <div class="day" id="sun">Sön</div>
            <div class="number">1</div>
            <div class="number">2</div>
            <div class="number">3</div>
            <div class="number">4</div>
            <div class="number">5</div>
            <div class="number">6</div>
            <div class="number">7</div>
            <div class="number">8</div>
            <div class="number">9</div>
            <div class="number">10</div>
            <div class="number">11</div>
            <div class="number">12</div>
            <div class="number">13</div>
            <div class="number">14</div>
            <div class="number">15</div>
            <div class="number">16</div>
            <div class="number">17</div>
            <div class="number">18</div>
            <div class="number">19</div>
            <div class="number">20</div>
            <div class="number">21</div>
            <div class="number">22</div>
            <div class="number">23</div>
            <div class="number">24</div>
            <div class="number">25</div>
            <div class="number">26</div>
            <div class="number">27</div>
            <div class="number">28</div>
            <div class="number">29</div>
            <div class="number">30</div>
            <div class="number">31</div>
        </div>
    </div>
</div>


{% endblock content %}