{% extends "layout.html" %}

{% block content %}
        <div class="faq">
			<h1>FAQ</h1>
			<ul>
				<li>
					<h4>Vart hittar jag schema för min årskurs? </h4>
					<p>Svar: Navigera till "Kalender" och klicka på schema.
							Välj sedan schema genom att klicka på vilket år
							du började programmet så visas ditt schema.
					</p>

				</li>
				<li>
					<h4>Hur tar jag bort mitt inlägg från forumet?</h4>
					<p>Svar: Navigera till forumsidan. Hitta ditt inlägg och klicka på rubriken.
							Du kommer nu till en ny sida där du enbart ser ditt inlägg.
							Ovanför inlägget finns två knappar, "uppdatera" och "ta bort".
							Tryck på "ta bort" och bekräfta sedan i rutan som dyker upp!
													
					</p>
				</li>
				<li>
					<h4>Hur ändrar jag profilbild? </h4>
					<p>Svar: Navigera till "Min Profil", tryck på knappen "Välj fil". 
							När du har valt önskad profilbild tryck på "Uppdatera". 
					</p>
				</li>
				<li>
					<h4>Vad gör jag om jag glömt mitt lösenord?</h4>
					<p>Svar: Navigera till inloggningssidan. Bredvid knappen "Logga in"
							finns en länk där det står "Glömt ditt lösenord?". Klicka på 
							länken och fyll i den email som du har registrerat dig med. Ett mail
							skickas till angiven email med en länk för att återställa ditt lösenord.
					</p>
				</li>
			</ul>
			
			<p>Skicka gärna era frågor eller förslag på förbättringar till oss på
					<a href="mailto:integrum@gmail.com">intergrum@gmail.com</a>
			</p>
		</div>

{% endblock content %}