{% extends "layout.html" %}

{% block content %}
<h1>Studentforum</h1>

{% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endfor %}

<h2>Sammanfattning</h2>

{% if current_user.is_authenticated %}
<ul>
    <li><a href="#">Tips om kurslitteratur</a></li>
    <li><a href="#">Samband mellan kurser</a></li>
    <li><a href="#">Rating</a></li>
    <li><a href="#">Köpa / Sälj</a></li>
    <li><a href="create_post">Skapa inlägg</a></li>
</ul>
{% else %}
<ul>
    <li><a href="#">Tips om kurslitteratur</a></li>
    <li><a href="#">Samband mellan kurser</a></li>
    <li><a href="#">Rating</a></li>
</ul>  
{% endif %}


{% endblock content %}