{% extends "layout.html" %}

{% block content %}
<h1>Studentforum </h1>

<h2>Sammanfattning</h2>
{% if current_user.is_authenticated %}
<ul>
    <li><a href="#">Tips om kurslitteratur</a></li>
    <li><a href="#">Samband mellan kurser</a></li>
    <li><a href="#">Rating</a></li>
    <li><a href="#">Köpa / Sälj</a></li>
    <li><a href="/create_post">Skapa inlägg</a></li>
</ul>
{% else %}
<ul>
    <li><a href="#">Tips om kurslitteratur</a></li>
    <li><a href="#">Samband mellan kurser</a></li>
    <li><a href="#">Rating</a></li>
</ul>  
{% endif %}


{% endblock content %}