{% extends "layout.html" %}

{% block content %}

    <h1>Hej och jättevälkomen! </h1>

    <div class="row">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Orkanen-1.jpg" class="card-img-top" alt="Bibliotek">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Här kommer du direkt till Orkanens bibliotek där du hittar kurslitteratur</p>
                    <a href="https://mau.se/bibliotek/" target="_blank" class="btn btn-primary">Till biblioteket</a>
                </div>
            </div>
        </div>
    </div>
    
        {% for post in posts.items %}
            <article class="media forum-content-section">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h2>
                        <a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a>
                    </h2>
                    <p class="article-content">{{ post.content }}</p>
                </div>
            </article>
        {% endfor %}
        
    <div class="mb-5">
        <medium class="text-muted">
            Vill du se fler inlägg?<a class="ml-2" href="{{ url_for('main.forum') }}">Klicka här</a> för att komma till forumet!
        </medium>
    </div>

{% endblock content %}