{% extends "layout.html" %}

{% block content %}

    <div class="block-contact_details">
        <div class="details">
            <h1>Kontakt</h1>
            <p>Utbildningen ges av Fakulteten för teknik och samhälle på Institutionen för Datavetenskap och medieteknik.</p>
            <p>TS - Malmö Universitet</p>
            <a href="mailto:TSstudent@mau.se" id="contact">E-post: TSstudent@mau.se</a>
        </div>
    </div>

    <section class="kontakt">
        <h2>Lärare Tekniska Fakulteten - Mail</h2>
        <dl id="contact_dl">
            <dt>Sven Karlsson</dt>
            <dd>Email: 
                <a href="mailto:sven.karlsson@mau.se">sven.karlsson@mau.se</a>
            </dd>
            <dd>Telefon: 040-6658177</dd>

            <dt>Anton Tibblin</dt>
            <dd>Email: 
                <a href="mailto:anton.tibblin@mau.se">anton.tibblin@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657672</dd>

            <dt>Arezoo Sarkheyli-Hägele</dt>
            <dd>Email: 
                <a href="mailto:arezoo.sarkheyli-haegele@mau.se">arezoo.sarkheyli-haegele@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657538</dd>

            <dt>Kristina Allder</dt>
            <dd>Email: 
                <a href="mailto:kristina.allder@mau.se">kristina.allder@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657132</dd>

            <dt>Dipak Surie</dt>
            <dd>Email: 
                <a href="mailto:dipak.surie@mau.se">dipak.surie@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657358</dd>

            <dt>Johan Holmberg</dt>
            <dd>Email: 
                <a href="mailto:johan.holmberg@mau.se">johan.holmberg@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657376</dd>

            <dt>Joseph Bugeja</dt>
            <dd>Email: 
                <a href="mailto:joseph.bugeja@mau.se">joseph.bugeja@mau.se</a>
            </dd>
            <dd>Telefon: 040-6658284</dd>

            <dt>Carl Johan Gribel</dt>
            <dd>Email: 
                <a href="mailto:carl.johan.gribel@mau.se">carl.johan.gribel@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657158</dd>

            <dt>Nancy Russo</dt>
            <dd>Email: 
                <a href="mailto:nancy.russo@mau.se">nancy.russo@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657261</dd>

            <dt>Magnus Johnsson</dt>
            <dd>Email: 
                <a href="mailto:magnus.johnsson@mau.se">magnus.johnsson@mau.se</a>
            </dd>
            <dd>Telefon: 040-6658213</dd>
        
            <dt>Bodil Sterner</dt>
            <dd>Email: 
                <a href="mailto:bodil.sterner@mau.se">bodil.sterner@mau.se</a>
            </dd>
            <dd>Telefon: 040-6657620</dd>
        </dl>
    </section>

{% endblock content %}