{% extends "layout.html" %}

{% block head %} 
    <!-- CSS -->
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
    <!-- Javscript -->
    
{% endblock head %}

{% block content %}
    
    <div class="schema_year">
        <button type="button" class="btn btn-info">
            <a href="/schema?resurser=p.TGIAA19h">Årskurs 1 - 2019</a>
        </button>
        <button type="button" class="btn btn-info">
            <a href="/schema?resurser=p.TGIAA18h">Årskurs 2 - 2018</a>
        </button>
        <button type="button" class="btn btn-info">
            <a href="/schema?resurser=p.TGIAA17h">Årskurs 3 - 2017</a>
        </button>
    </div>

    <table class="schema">
        <!-- De olika rubrikerna till schemat -->
        <tr>
            <th>Dag</th>
            <th>Datum</th>
            <th>Tid</th>
            <th>Kurs</th>
            <th>Lärare</th>
            <th>Lokal</th>
            <th>Moment</th>
            <th>Uppdaterat</th>
        </tr>
       
        <!-- Skriver ut varje kolumn i schemat -->
        {% for row in schema %}
            <tr>
                <td> {{row['day']}} </td>
                <td> {{row['date']}} </td>
                <td> {{row['time']}} </td>
                <td> {{row['course']}} </td>
                <td> {{row['teacher']}} </td>
                <td> {{row['room']}} </td>
                <td> {{row['moment']}} </td>
                <td> {{row['updated']}} </td>
            </tr>
        {% endfor %}
    </table>
    
{% endblock content %}      