
{% extends "layout.html" %}

{% block head %} 
    <!-- CSS -->
    <link href="static/css/style.css" type="text/css" rel="stylesheet">
    <!-- Javscript -->
    
{% endblock head %}

{% block content %}
    
    <h2 id="schema">SCHEMA</h2>
    <p>Med start 2017</p>
    <ul>
        <li><a href="#">Schema 2017</a></li>
        <li><a href="#">Schema 2018</a></li>
        <li><a href="#">Schema 2019</a></li>
        <li><a href="#">Schema 2020</a></li>
    </ul>
    <table class="schema">
        
        <!-- De olika rubrikerna till schemat -->
        <tr>
            <th>Dag</th>
            <th>Datum</th>
            <th>Tid</th>
            <th>Kurs</th>
            <th>Lärare</th>
            <th>Lokal</th>
            <th>Resurs</th>
            <th>Moment</th>
            <th>Uppdaterat</th>
        </tr>
       
        <!-- Skriver ut varje kolumn i schemat -->
        {% for row in schema %}
            <tr>
                <td> {{row['day']}} </td>
                <td> {{row['date']}} </td>
                <td> {{row['time']}} </td>
                <td> {{row['course']}} </td>
                <td> {{row['teacher']}} </td>
                <td> {{row['room']}} </td>
                <td> {{row['resource']}} </td>
                <td> {{row['moment']}} </td>
                <td> {{row['updated']}} </td>
            </tr>
        {% endfor %} 
    </table>
    
    
    <!-- Behövs denna? -->
    <!-- <div id="calendar"></div> -->

    

{% endblock content %}
        