{% extends "layout.html" %}

{% block content %}

    <h1>Att göra</h1>

    <div id="todo_lists">
        <h2>Systemutveckling</h2>
        <h2>Webbutveckling</h2>
        <table class="todo_table">
            <tr>
                <th>Uppgift</th>
                <th>Inlämningsdatum</th>
            </tr>
            <tr>
                <td>Uppgift 1</td>
                <td>1 apr kl 23:58</td>
            </tr>
            <tr>
                <td>Uppgift 2</td>
                <td>12 apr kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 3</td>
                <td>28 apr kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 4</td>
                <td>5 maj kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 5</td>
                <td>13 maj kl 23:59</td>
            </tr>
            <tr>
                <td><b>Skrivuppgift</b></td>
                <td>27 maj kl 8:00</td>
            </tr>
        </table>

        <table class="todo_table">
            <tr>
                <th>Uppgift</th>
                <th>Inlämningsdatum</th>
            </tr>
            <tr>
                <td><a href="uppgift">Uppgift 1</a></td>
                <td>1 apr kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 2</td>
                <td>12 apr kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 3</td>
                <td>28 apr kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 4</td>
                <td>5 maj kl 23:59</td>
            </tr>
            <tr>
                <td>Uppgift 5</td>
                <td>11 maj kl 23:59</td>
            </tr>
            <tr>
                <td><b>Tentamen</b></td>
                <td>15 maj kl 13:15</td>
            </tr>
        </table>
    </div>
{% endblock content %}