{% extends "layout.html" %}

{% block content %}

    <h1>Uppgift 1 (TEMPORÄRT) </h1>
    <h3>Webbutveckling</h3>
    <div>
        <h2>Layout med CSS och JavaScript</h2>
        <h4>Webbsidornas layout</h4>
        <p>Du ska skapa en webbplats bestående av minst 2 webbsidor, som båda följer samma visuella utformning. Bilderna till vänster visar layouten för datorer och bilden längst till höger visar hur webbsidan ska se ut på en mobil.</p>
        <p>Målet mer startsidan är att förklara varför webbplatsen existerar. En slumpmässig internetsurfare som hittar till din webbplats bör kunna förstå detta efter att ha läst startsidan. Det ska dessutom finnas ett formulär likt det som finns ovan på bilden hur startsidans layout ska vara.</p>
        <ul>
            <li>kort beskrivning av syftet med webbsida, kurs och program</li>
            <li>vem som står bakom?</li>
            <li>kontaktuppgifter (e-postadress).</li>
        </ul>
        <h4>Om JavaScript</h4>
        <p>Denna webbsida ska dels innehålla en löptext, en faktaruta, och dels körbara JavaScript-exempel (kod till dessa exempel presenteras längre ner).</p>
        <p>Syftet med texten är beskriva vissa intressanta koncept som relaterar till JavaScript. Inled med en kortare beskrivning om vad JavaScript är och vad det brukar användas till (du kanske redan har skrivit en sådan beskrivning?). Därefter ska texten beskriva tre av följande ämnen/koncept:</p>
    </div>

{% endblock content %}