.calendar-body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

.calendar{

    width: 60%;
    height: 50%;
    background: white;
    box-sizing: border-box;
}

.calendar .date{

    padding: 20px;
    display: grid;
    
    grid-template-columns: repeat(7, minmax(50px, 3fr));
    box-sizing: border-box;
    
}

.calendar .date div{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    
    
}

.calendar .date div.day{

    font-weight: 1000;
    background-color: black;
    color: white;
}

#sun{
    color: firebrick;
}


.calendar .date div.number:nth-child(7n+7)
{
    color: firebrick;
    font-weight: 700;
}

.calendar .date button.number{

    font-weight: 700;
    min-height: 60px;
}


.calendar .date button.number:hover{

    background-color: gray;
    transition: ease-in 0.2s;
    transition: ease-out 0.2s;

}

.number > p{

    width: 50px;
    height: 50px;
    padding: 50px;
    display: none;
    
}

