body {
    margin: 0;
    font-size: 1em;
    font-family: 'Baloo Chettan 2', cursive;
}

#wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 300px auto auto 100px;
    grid-template-columns: 100%;

}

#wrapper > header {
    grid-area: header;
    background-color: #fff;
    background-image: url("/static/images/malmo_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper > nav {
    grid-area: nav;
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    font-size: 1.2em;

}

#wrapper > nav > a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    line-height: 2em;
    font-size: 1em;
    height:100%;
    width:50%;
    text-align: center;
}

#wrapper > nav > a:hover {
    background-color: #2E789E;
    transition: 0.2s;
}

#wrapper > nav > a > i {  /* Hem-loggan i navmenu */
    color: white;
    line-height: 0.5em;
    font-size: 2em;
}

#wrapper > main {
    grid-area: main;
    background-color: rgb(230, 230, 230);
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding: 2em;
}

/* Allt innehåll i registrering och inloggninsformulären */
#wrapper > main > .content-section {
    width: 50%;
    margin: 0 auto;
}

#wrapper > main > h1 {
    text-align: center;
}

#wrapper > main > p, h2 {
    width: 50%;
    margin: 0 auto;
}

#wrapper > main > ul > li > a {
    line-height: 0.5em;
    font-size: 2em;
}

#wrapper > main > ul > li {
    list-style-type: none;
}

#wrapper > main > .row {
    justify-content: center;
    text-align: center;
}

#wrapper > main > .border-top {
    width: 50%;
}


/* Profilsidan */

#wrapper > main > .profile-content-section {    /* Diven som håller hela innehållet på profilsidan */
    margin: 0 auto;
    padding: 0.5em;
    width: 50%;
}

#wrapper > main > .profile-content-section img {    /* Profilbild */
    width: 175px;
    height: 175px;
}

#wrapper > main > .profile-content-section > .media > .media-body {     /* Texten bredvid profilbilden */
    padding-left: 2em;
    margin-top: 1.5em;
}

#wrapper > main > .profile-content-section > form {     /* Formuläret under profilsidan */
    margin-top: 2em;
}


/* Forumsidan */

#wrapper > main > .forum-content-section {      /* Diven som håller hela innehållet på forumsidan */
    margin: 20px auto;
    padding: 0.5em;
    width: 50%;
    background-color: #eee;
    box-shadow: 2px 2px 2px #ccc;
    border-radius: 8px;
    border: 2px solid #ccc;
}

#wrapper > main > .forum-content-section img {    /* Profilbild vid inlägget */
    width: 100px;
    height: 100px;
}

#wrapper > main > .forum-content-section .article-metadata {     /* Texten bredvid profilbilden, skapare och datum */
    padding: 0;
    margin-left: 15px;
    border-bottom: 1.5px solid #ccc;

}

#wrapper > main > .forum-content-section h2 {       /* Titel i inläggen */
    padding-top: 0;
    margin-top: 10px;
    margin-left: 15px;
}

#wrapper > main > .forum-content-section p {        /* Texten i inläggen */
    margin-left: 15px;
}

#wrapper > main > .forum-buttons {      /* Diven som håller knapparna för de olika sidorna med inlägg */
    margin: 50px auto;
    text-align: center;
}

#wrapper > main > .mb-5 {       /* Texten för att komma vidare till forumet, under "hem" där vi visar några inlägg */
    text-align: center;
}

#wrapper > main > .schema {     /* Texten i schema-tabellen */
    color: black
}
/* Forumsidan SLUTAR */



/* Att göra sidan */
#wrapper > main > #todo {       /* Div:en som håller hela "att-göra" listan */
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #666;
}

#wrapper > main > .list-group {     /* Ul som håller i listorna */
    width: 50%;
    margin: 2em auto 5em auto;
}

#wrapper > main .list-group-item {      /* Listorna i "att-göra" */
    border: 0px;
}

#wrapper > main > ul:nth-child(3n + 3) {
    background-color: yellow;
}

#wrapper > main > .content-section > form button {      /* Knappen för att ta bort uppgifter i "att-göra" listan */
    float: right;
    margin-top: -0.2em;
} 

#wrapper > main > .content-section > form > ul > li > p:nth-child(1) {  /* Ojämna raderna i "att-göra" listan */
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 0.5em;
} 

#wrapper > main > .content-section > form > ul > li:nth-child(odd) {       /* Jämna list-items, alltså beskrivning av uppgiften */
    border-radius: 0;
} 

#wrapper > main > .content-section > form > ul > li:nth-child(even) {       /* Jämna list-items, alltså beskrivning av uppgiften */
    background-color: #ccc;
    border-radius: 0;
} 

#wrapper > main > #new_assignment {     /* Id för div:en som håller hela "Lägg till ny uppgift" formuläret */
    margin-top: 3em;
}

/* Att göra sidan SLUTAR */



#wrapper > footer {
    grid-area: footer;
    background-color: rgb(46, 46, 46);
    color: white;
    line-height: 100px;
    text-align: center;
    border: none;   
}

#wrapper > footer > p {
    margin-bottom: 0;
}


h2 {
    padding-top: 30px;
}


.details {
    width: 25%;
    padding-bottom: 10px;
    border-top: 2px solid #2E789E;
}


#home { 
    flex-shrink: 1.5;
}

#log_in {
    color: white;
    line-height: 0.5em;
    font-size: 1em;
}


/* Klassen för Logga in / Registrera under formulären */
.border-top {
    width: 65%; 
    margin: 0 auto; 
}


/* Dropdown Button */
.dropbtn {
    color: white;
    background-color: rgb(46, 46, 46);
    padding: 11px;
    font-size: 1em;
    width: 15em;
    border: none;
    text-align: center;
    }
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    }
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(46, 46, 46);
    width: 15em;
    box-shadow: 2px 2px 10px black;
    border-radius: 0px 0px 5px 5px;
    z-index: 1;
    }
  
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #2E789E;
    transition: 0.2s;
    }
  
.dropdown-content a:last-child {
    border-radius: 0px 0px 5px 5px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.2s;
    }
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #2E789E;
    transition: 0.2s;
    }

th {
    color: white;
    background-color: black;
    text-align: center;
}

th, td {
    padding: 10px;
}

.todo_table{
    padding: 30px;
    width:40%;
    margin:0;
}

#todo_lists{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#todo_lists > h2{
    width: 44%;
    margin-left: 3%;
}

.todo_table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#user_picture {
    padding: 10px;
    font-size: 150px;
    color: #2E789E;
}

/* todo skapa uppgift */

.todo_item > .item {

    display: block;
}

/* Informationsarkitekt (ia.html) */

#kursinfo_dl {
    display: flex;
    margin: auto;
    padding: 50px;
    width: 55%;
    border-bottom: 0;
    font-size: .8125rem;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

/* Raderna i tabellen kursinfo_dl(vänster) */
dt {
    width: 30%;
    background: rgb(46, 46, 46);
    color: white;
    box-sizing: border-box;
    padding: .5rem;
    border-style: solid;
    border-right: none;
    border-color: #ccc;
    border-width: 0 1px 1px 1px;
    border-radius: 5px 0px 0px 5px;
}

/* Raderna i tabellen kursinfo_dl (höger) */
dd {
    display: flex;
    margin: 0;
    width: 70%;
    padding: .5rem;
    background: #2E789E;
    align-items: center;
    border-style: solid;
    border-left: none;
    border-color: #fff;
    color: white;
    border-width: 0 1px 1px 1px;
    border-radius: 0px 5px 5px 0px;
}

tbody > .kursinfo_table {
    padding: 30px;
    margin: auto;
    border-radius: 5px;
}    

.kursinfo_table, th {
    background-color: rgb(46, 46, 46);

}

.kursinfo_table, td {
    color: white;
    background-color: #2E789E;
}