body {
    margin: 0;
    font-size: 1em;
    font-family: 'Baloo Chettan 2', cursive;
}

#wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 300px auto auto auto;
    grid-template-columns: 100%;

}

#wrapper > header {
    grid-area: header;
    background-color: #fff;
    background-image: url("/static/images/malmo_banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper > nav {
    grid-area: nav;
    
    background-color: black;
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50px;

    font-size: 1.2em;

}

#wrapper > nav > a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    line-height: 2em;
    font-size: 1em;
    height:100%;
    width:50%;
    text-align: center;
}

#wrapper > nav > a:hover {
    background-color: #2E789E;
    transition: 100ms;
}

#wrapper > nav > a > i {  /* Hem-loggan i navmenu */
    color: white;
    line-height: 0.5em;
    font-size: 2em;
}

#home{
    flex-shrink: 1.5;
}

#wrapper > nav > a > #log_in {
    color: white;
    line-height: 0.5em;
    font-size: 1em;
    margin-right: 8px;
}

#wrapper > main {
    grid-area: main;
    background-color: #ccc;
    
    padding: 2em;
}


#wrapper > footer {
    grid-area: footer;
    background-color: black;
    color: white;

    text-align: center;
    
}

/* Klassen för formulären */
.content-section {
    width: 65%;
    margin: 0 auto;
    
}

/* Klassen för Logga in / Registrera under formulären */
.border-top {
    width: 65%; 
    margin: 0 auto; 
}

