body {
    margin: 0;
    font-size: 1em;
    font-family: 'Baloo Chettan 2', cursive;
}

#wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
    grid-template-rows: 300px auto auto auto;
    grid-template-columns: 100%;

}

#wrapper > header {
    grid-area: header;
    background-color: #fff;

    background-image: url("/static/images/leaves_bg.jpg");
    /*background-size: contain;*/
    background-repeat: no-repeat;
    background-position: center;
}

#wrapper > header > h1 {
    color: white;
    text-shadow: 2px 3px 8px black;
    font-size: 200px;
    display: flex;

    justify-content: center;
}

#wrapper > nav {
    grid-area: nav;
    
    background: #b5bdc8; /* Old browsers */
    background: -moz-linear-gradient(top,  #b5bdc8 0%, #828c95 36%, #28343b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #b5bdc8 0%,#828c95 36%,#28343b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
    
    display: flex;
    flex-direction: row;
    justify-content: start;

    font-size: 1.2em;

}

#wrapper > nav > a {
    text-decoration: none;
    color: #222;
    padding: 0.5em;
    line-height: 4em;
    font-size: 1em;
    height:100%;
    width:50%;
    text-align: center;
}

#wrapper > nav > a:hover {
    background-color: #828c95;
    transition: 100ms;
}

#wrapper > nav > a > i {  /* Hem-loggan i navmenu */
    color: #111;
    line-height: 1.5em;
    font-size: 2em;
}

#home{
    flex-shrink: 1.5;
}

#wrapper > nav > a > #log_in {
    color: #111;
    line-height: 0.5em;
    font-size: 1em;
    margin-right: 8px;
}

#wrapper > main {
    grid-area: main;
    background-color: #ccc;
    
    padding: 2em;
}


#wrapper > footer {
    grid-area: footer;
    background-color: grey;

    text-align: center;
    
}

/* Klassen för formulären */
.content-section {
    width: 65%;
    margin: 0 auto;
    
}

/* Klassen för Logga in / Registrera under formulären */
.border-top {
    width: 65%; 
    margin: 0 auto; 
}

#wrapper > footer {
    grid-area: footer;
    background-color: grey;

    text-align: center;
    
}
